/* COMMON */

.fa-trademark{
    vertical-align: super;
    font-size:0.5rem;
}

/* Header */

.my-bg-black{
    background-color:black;
}
.my-img-size{
    width:100px;
}

/* section Jumbotron */

/* To be change or removed */
.my-img-position{
    object-fit: contain;
    
    width:100%;
}

.my-bg-darkgreen{
    background-color: darkgreen;
    height:500px;
}

.my-row{
    height:500px;
}


/* section game cards  */


.my-card img{
    border-radius:30px;
}



/* Section Playstation */

.my-font-size{
    font-size:0.9rem;
}

.my-box img{
    width:100%;
}

/* .my-card-img img{
    width:50%;
} */



/* section  game cards-nuove uscite */

.my-bg-gray{
    background-color:#1f1f1f;
}



