.my-bg-black{
    background-color:black;
}
.my-img-size{
    width:100px;
}

.my-bg-darkgreen{
    background-color: darkgreen;
    height:500px;
}

.my-card{
    background-color:rgb(48, 144, 67);
    height:200px;
    border:white solid 2px;
}

.my-box{
    background-color:palegreen;
    height:400px;
    border: 2px solid black;
}

.my-device-cards{
    background-color:aquamarine;
    height:100px;
    border:2px solid white;
}


