.my-bg-black{
    background-color:black;
    height:20px;
}

.my-bg-darkgreen{
    background-color: darkgreen;
    height:500px;
}

.my-card{
    background-color:rgb(48, 144, 67);
    height:200px;
    border:white solid 2px;
}



